<mat-card class="mat-elevation-z2 card-footer">
  <div fxLayout="row" fxLayoutAlign="space-around end">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px">
      <img class="img-skandia" src="assets/images/Group 123.png" />
      <span> &copy; 2019 Skandia</span>
      <p>PBX: <span>658 4000 / 4841300</span></p>
      <p>Línea nacional <span>01 8000 517 526</span></p>
      <p>Línea corporativa 6584123</p>
      <p>AV.19 #109A - 30</p>
      <p>Bogotá D.C. Colombia</p>
      <p>Oficinas a nivel nacional</p>
    </div>

    <div
      class="text-links"
      fxLayout="column"
      fxLayoutAlign="start start"
      fxLayoutGap="10px"
    >
      <p>Términos y Condiciones Canales de Servicios</p>
      <p>Defensoría del COnsumidor Financiero</p>
      <p>Proteccion de Datos</p>
      <p>Definiciones Generales - auto declaración FATCA y CRS</p>
      <p>Recomendaciones de Seguridad</p>
      <p>Ley de Transparencia</p>
      <p>Mapa del sitio</p>
    </div>

    <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10px">
        <img class="img-redes" src="assets/images/facebookl.svg" />
        <img class="img-redes" src="assets/images/youtube.svg" />
        <img class="img-redes" src="assets/images/twitter.svg" />
    </div>
  </div>
</mat-card>
