.text-primary {
  color: black;
  font-weight: bold;
  margin: 0;
}

.text-orange {
  color: #fe9200;
}

p {
  margin: 0;
}

.text-medium-a {
  font-size: 14px;
  font-weight: 400;
}

.text-medium-b {
  font-size: 14px;
  font-weight: 600;
}
